button{
	position: relative;
}

.card {
	
	margin: auto;
	margin-top: 300px;
	overflow: hidden;
	position: absolute;
}

.search-body{
	padding: 1rem;
}

.card-body{
	padding: 1em;
}

.notfound{
	padding-top: 1rem;
	text-align: center;
}

.user-profile{
	text-align: center;
}

.github-profile-info img{
	
	padding-top: 10px;
	width: 6.25rem;
	height: 7.25rem;
	border-radius: 40%;
	display: block;
	position: center;

}

.github-profile-info a, .github-profile-info a:hover{
	color: white;
	text-decoration: none;

}

.github-profile-state ul{
	direction: ltr;

}
.github-profile-state ul li{
	list-style: none;
	display: inline-block;
	margin-right: 1em;
}

.github-profile-state a, .github-profile-state a:hover{
	color: #fff;
	text-decoration: none;
}
.github-profile-state b{
	font-size: 1.5rem;
	font-weight: 700;
	font-style: normal;
	display: block;
}



/* style={{width: '20rem', paddingTop: '50px'}} */